.avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
}

.avatarWithBorder {
    width: calc(3rem + 12px);
    height: calc(3rem + 12px);
    border-radius: 8px;
    object-fit: cover;
    margin-top: -2rem;
    border: 2px solid #000;
    outline: 2px solid #8a1a1a;
}