* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --gray-300: #c4c4cc;
    --gray-900: #ededf6;
    --main-color: #FFDB08;
    --main-font: 'Roboto', sans-serif;

}

body {
    background-color: var(--gray-900);
    color: var(--gray-900);
    -webkit-font-smoothing: antialised;
    font-family: var(--main-font);
    font-size: 1rem;
}