* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    color: #2E2E2E;
};

:root {
    --color-main: #FFDB08;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-main-font: #2E2E2E;
    --color-bg: #F9F6FD;
    --color-gray217: #D9D9D9;
    --color-gray245: #F5F5F5;

}

